
footer {
    background-color: #8325d0 !important;
    color: #ddd;
    padding: 10px;
    text-align: center; 
}
.footer-info a {
    color: #ddd;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}
