$primary-color: #ff445b;
$hover-color: #ff445aae;
$header-bg-color: #ffff;
$text-color: #121430;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-bg-color;
  color: $text-color;
  padding: 10px 20px;
  width: 80%;
  margin: auto;

  .logo {
    font-size: 1.7em;
    font-weight: bold;
    cursor: pointer;
  }

  .navbar {
    display: flex;
    gap: 20px;

    .nav-item {
      color: $text-color;
      text-decoration: none;
      font-size: 1em;
      font-weight: 800;
      text-transform: uppercase;

      &:hover,
      &.active {
        text-decoration: underline;
       color:#ff445b;
          
      }
    }
  }

  .add-trip  {
    background-color: $primary-color;
    border: none;
    color: $text-color;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    border-radius: 4px;
    i {
      font-size: 1.2em;
    }

    &:hover {
      background-color: $hover-color;
    }
  }
}
