@media (max-width: 884px) {
    main {
        width: 100%;
    }

}
@media (max-width: 700px) {
    main {
        width: 90%;
    }
    header{
        width: 80%;
        margin: auto;
    }
}
@media (max-width:555px) {
    header{
       margin-right: 100%;
        width: 60%;
    }
       header .logo{
        font-size: 1em;
       }
       header .add-trip{
        padding: 6px 1px;
        font-size: 0.7em;
       }
       header .navbar .nav-item {
        font-size: 0.7em;
       }
       header .navbar {
        gap: 8px;
    }
  
}