

@media (max-width: 884px) {
    main {
        width: 100%;
    }
}

@media (max-width: 700px) {
    main {
        width: 90%;
    }
    
    header {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 555px) {
    header {
        margin-right: 100%;
        width: 60%;
    }

    .brand {
        font-size: 1em;
    }

    .trip-add {
        padding: 6px 1px;
        font-size: 0.7em;
    }

    .nav-links .nav-link {
        font-size: 0.7em;
    }

    .nav-links {
        gap: 8px;
    }
}
